<a href="https://colab.research.google.com/github/dikshap07/ML-Algorithms/blob/master/LaptopBatteryProblem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [4]:
data_path = "/content/gdrive/MyDrive/laptopdata.txt"


data = open(data_path,'r')

In [89]:
import pandas as pd
import numpy as np

In [31]:

time_laptop_charged = []
time_battery_lasted = []

with open(data_path) as data:

  lines = data.read()

In [32]:
type(lines)

str

In [33]:
lines

'2.81,5.62\n7.14,8.00\n2.72,5.44\n3.87,7.74\n1.90,3.80\n7.82,8.00\n7.02,8.00\n5.50,8.00\n9.15,8.00\n4.87,8.00\n8.08,8.00\n5.58,8.00\n9.13,8.00\n0.14,0.28\n2.00,4.00\n5.47,8.00\n0.80,1.60\n4.37,8.00\n5.31,8.00\n0.00,0.00\n1.78,3.56\n3.45,6.90\n6.13,8.00\n3.53,7.06\n4.61,8.00\n1.76,3.52\n6.39,8.00\n0.02,0.04\n9.69,8.00\n5.33,8.00\n6.37,8.00\n5.55,8.00\n7.80,8.00\n2.06,4.12\n7.79,8.00\n2.24,4.48\n9.71,8.00\n1.11,2.22\n8.38,8.00\n2.33,4.66\n1.83,3.66\n5.94,8.00\n9.20,8.00\n1.14,2.28\n4.15,8.00\n8.43,8.00\n5.68,8.00\n8.21,8.00\n1.75,3.50\n2.16,4.32\n4.93,8.00\n5.75,8.00\n1.26,2.52\n3.97,7.94\n4.39,8.00\n7.53,8.00\n1.98,3.96\n1.66,3.32\n2.04,4.08\n11.72,8.00\n4.64,8.00\n4.71,8.00\n3.77,7.54\n9.33,8.00\n1.83,3.66\n2.15,4.30\n1.58,3.16\n9.29,8.00\n1.27,2.54\n8.49,8.00\n5.39,8.00\n3.47,6.94\n6.48,8.00\n4.11,8.00\n1.85,3.70\n8.79,8.00\n0.13,0.26\n1.44,2.88\n5.96,8.00\n3.42,6.84\n1.89,3.78\n1.98,3.96\n5.26,8.00\n0.39,0.78\n6.05,8.00\n1.99,3.98\n1.58,3.16\n3.99,7.98\n4.35,8.00\n6.71,8.00\n2.58,5.16\n7.37,8.00\n5.77,8.00\n3.97,7.94\n3.65,7.30\n4.38,8.00\n8.06,8.00\n8.05,8.00\n1.10,2.20\n6.65,8.00\n\n\n'

In [61]:
data = lines.split('\n')


data = [data[i].split(',') for i in range(len(data))]

In [62]:
data = data[:100]
len(data)

100

In [63]:
data_col1 = [data[i][0] for i in range(len(data))] #time laptop charged. #x
data_col2 = [data[i][1] for i in range(len(data))] #time battery lasted. #y

In [90]:
data_col1 = np.array(list(map(lambda x: float(x),data_col1)))

data_col2 = np.array(list(map(lambda x: float(x),data_col2)))

In [75]:
data_ = {'Time Laptop Charged': data_col1,'Time Battery Lasted':data_col2}

In [76]:
data_laptop = pd.DataFrame(data_)

In [77]:
data_laptop

    Time Laptop Charged  Time Battery Lasted
0                  2.81                 5.62
1                  7.14                 8.00
2                  2.72                 5.44
3                  3.87                 7.74
4                  1.90                 3.80
..                  ...                  ...
95                 4.38                 8.00
96                 8.06                 8.00
97                 8.05                 8.00
98                 1.10                 2.20
99                 6.65                 8.00

[100 rows x 2 columns]

In [105]:
class LR_Model:

  def __init__(self,lr, iterations):

    self.lr = lr
    self.iterations = iterations

  def fit(self,x,y):
    
    b = 0
    m = 5
    n = len(x)

    for i in range(self.iterations):
      
      der_b = sum((y[i] - m*x[i] - b) for i in range(len(x)))
      #print('der_b',der_b)

      der_m = sum((y[i] - m*x[i] - b)*x[i] for i in range(len(x)) )
      #print('der_b',der_b)
    
      b = b + (self.lr)*(der_b)

      m = m - (self.lr)*(der_m)

    # print("m",m)
    # print("b",b)

    self.m,self.b = m,b


    return m, b


  def predict(self,X):

    return self.m*X + self.b

In [109]:
model = LR_Model(0.01,100)

model.fit(data_col1,data_col2)

y_pred = model.predict(data_col1)
#print(y_pred)

error = ((sum((y_pred[i] - data_col2[i]) for i in range(len(y_pred))))**2)/2*(len(y_pred))
print(error)

2.0621621728084364e+300

In [111]:
print(data_col2)

[5.62 8.   5.44 7.74 3.8  8.   8.   8.   8.   8.   8.   8.   8.   0.28
 4.   8.   1.6  8.   8.   0.   3.56 6.9  8.   7.06 8.   3.52 8.   0.04
 8.   8.   8.   8.   8.   4.12 8.   4.48 8.   2.22 8.   4.66 3.66 8.
 8.   2.28 8.   8.   8.   8.   3.5  4.32 8.   8.   2.52 7.94 8.   8.
 3.96 3.32 4.08 8.   8.   8.   7.54 8.   3.66 4.3  3.16 8.   2.54 8.
 8.   6.94 8.   8.   3.7  8.   0.26 2.88 8.   6.84 3.78 3.96 8.   0.78
 8.   3.98 3.16 7.98 8.   8.   5.16 8.   8.   7.94 7.3  8.   8.   8.
 2.2  8.  ]

In [110]:
print(y_pred)

[ 1.21982955e+147  3.21171235e+147  1.17842783e+147  1.70744982e+147
  8.01212144e+146  3.52452535e+147  3.15651005e+147  2.45728099e+147
  4.13635079e+147  2.16746894e+147  3.64413032e+147  2.49408252e+147
  4.12715040e+147 -8.42151196e+144  8.47214057e+146  2.44348041e+147
  2.95191109e+146  1.93745938e+147  2.36987735e+147 -7.28241892e+145
  7.46009850e+146  1.51424178e+147  2.74709303e+147  1.55104331e+147
  2.04786397e+147  7.36809467e+146  2.86669801e+147 -6.36238067e+145
  4.38476111e+147  2.37907774e+147  2.85749762e+147  2.48028194e+147
  3.51532497e+147  8.74815204e+146  3.51072478e+147  9.57618646e+146
  4.39396149e+147  4.37797037e+146  3.78213606e+147  9.99020367e+146
  7.69010806e+146  2.65968940e+147  4.15935174e+147  4.51597611e+146
  1.83625517e+147  3.80513702e+147  2.54008443e+147  3.70393281e+147
  7.32209276e+146  9.20817116e+146  2.19507009e+147  2.57228577e+147
  5.06799906e+146  1.75345173e+147  1.94665976e+147  3.39111981e+147
  8.38013674e+146  6.90807555e+146  8.65614821e+146  5.31859993e+147
  2.06166454e+147  2.09386588e+147  1.66144790e+147  4.21915423e+147
  7.69010806e+146  9.16216925e+146  6.54006025e+146  4.20075346e+147
  5.11400097e+146  3.83273816e+147  2.40667888e+147  1.52344217e+147
  2.90809973e+147  1.81785441e+147  7.78211188e+146  3.97074390e+147
 -1.30217032e+145  5.89603348e+146  2.66888978e+147  1.50044121e+147
  7.96611953e+146  8.38013674e+146  2.34687640e+147  1.06583269e+146
  2.71029150e+147  8.42613865e+146  6.54006025e+146  1.76265211e+147
  1.92825900e+147  3.01390413e+147  1.11402515e+147  3.31751675e+147
  2.58148615e+147  1.75345173e+147  1.60624561e+147  1.94205957e+147
  3.63492994e+147  3.63032975e+147  4.33196846e+146  2.98630298e+147]